# Run script on drm change
#
# Note: There is no way to know which connector has been connected/disconnected.
#       Thus, the rule delegates it to an external script.
#
# Example of an event triggered by a connection/disconnection of a monitor
# ACTION=change
# DEVNAME=dri/card0
# DEVPATH=/devices/pci0000:00/0000:00:02.0/drm/card0
# DEVTYPE=drm_minor
# HOTPLUG=1
# MAJOR=226
# MINOR=0
# SUBSYSTEM=drm
KERNEL=="card[0-9]*", SUBSYSTEM=="drm", RUN+="/usr/bin/hotplug-drm"
